#main{
    width:1200px;
    height:auto;
    margin:0 auto 0 auto;
    background-image: url(./../img/main_image04_yuka.jpg);
    overflow:hidden;
}
#main #wrapper{
    margin:50px;
    background-color: rgba(64,156,163,0.5);
}
#main #wrapper #outline{
    display:block;
    margin:10px;
}
#main #wrapper #outline .font{
    color:#ffffff;
}
